# Dependencies
node_modules/
package-lock.json.bak

# Environment
.env
.env.local
*.local

# Build
dist/
build/
.next/

# Testing
coverage/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
